@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --color-bg: #181112;
  --color-surface: #2a1e20;
  --color-border: #39282b;
  --color-red: #ec1337;
  --color-text: #f1f5f9;
  --color-muted: #94a3b8;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
}
